%button {
  color: $white;
  background: linear-gradient(90deg, $purple 0%, $blue 100%);
  box-shadow: 0px 5px 15px rgba(0, 70, 187, 0.4);
  border-radius: 10px;
  &:hover {
    box-shadow: 0px 0px 15px $blue-shadow;
  }
  &:active {
    background: linear-gradient(90deg, #8939E0 0%, #68A0FD 100%);
  }
}