$purple: #6A11CB;
$blue: #2575FC;
$blue-shadow: #0047FF;
$black: #000000;
$white: #ffffff;
$bacground-grey: #F8F8F8;
$background-light-blue: linear-gradient(90deg, rgba(106, 17, 203, 0.1) 0%, rgba(37, 117, 252, 0.1) 100%);
$background-dotes: #5533FF;

$desktop-width: 1100px;