.join {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  position: relative;
}

.join__title {
  @extend %text-gradient;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 160%;
  margin-bottom: 15px;
}

.join__p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  color: $black;
}

.join__mail {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: $black;

  &:hover {
    @extend %text-gradient;
  }
}

.joim__img {
  width: 75%;
  margin-left: auto;
  margin-top: 25px;
}

.join__decoration {
  position: absolute;
}

.join__decoration--1 {
  top: 0;
  left: 60%;
  width: 19px;
  height: 19px;
}

.join__decoration--2 {
  bottom: 0;
  right: 5%;
  height: 100px;
}

.join__decoration--3 {
  top: 53%;
  left: 28%;
  width: 17px;
  height: 17px;
}

.join__decoration--4 {
  top: 2%;
  left: 15%;
  opacity: 0.6;
}

.join__decoration--5 {
  top: 65%;
  left: 12%;
}

@media (min-width:$desktop-width) {
  .join {
    padding-left: 13.4%;
    padding-right: 13.4%;
    display: flex;
    align-items: center;
  }

  .join__title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .join__p {
    font-size: 20px;
    margin-bottom: 25px;
    padding-right: 28%;
  }

  .join__mail {
    font-size: 30px;
  }

  .joim__img {
    width: 65%;
  }

  .join__decoration--1 {
    width: 50px;
    height: 50px;
    left: 28%;
    top: 5%;
  }

  .join__decoration--2 {
    height: 300px;
    right: 12%;
  }

  .join__decoration--3 {
    top: 13%;
    left: 36%;
  }

  .join__decoration--4 {
    height: 40px;
    left: 10%;
    top: 15%;
  }

  .join__decoration--5 {
    top: 75%;
    left: 16%;
    height: 60px;
  }
}