.title {
  padding-top: 35px;
}

.title__block {
  padding-left: 20px;
  padding-right: 20px;
}

.title__title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  color: $black;
  padding-right: 22%;
  margin-bottom: 15px;
}

.title__decoration {
  @extend %text-gradient;
}

.title__description {
  @extend %mobile-text;
  font-weight: 400;
  margin-bottom: 20px;
  padding-right: 5%;
}

.title__p {
  @extend %mobile-text;
  font-weight: 700;
  padding-right: 25%;
  margin-bottom: 16px;
}

.title__img {
  width: 100%;
}

@media (min-width:$desktop-width) {
  .title {
    padding-left: 13.4%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .title__img {
    width: 57%;
  }

  .title__block {
    padding: 0;
    width: 43%;
  }

  .title__title {
    font-size: 53px;
    margin-bottom: 30px;
    padding: 0;
  }

  .title__description {
    font-size: 20px;
    margin-bottom: 60px;
    padding-right: 28%;
  }

  .title__break {
    display: none;
  }

  .title__p {
    font-size: 20px;
  }
}